* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

header {
    background-color: brown;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.profile header nav{
    list-style: none;
    display: flex;
    gap: 20px;
}

.profile header nav a{
    color: white;
    font-weight: bold;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 550px;
    margin: 50px;
    overflow: hidden;
}

.slides {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    width: 100%;
    height: 500px;
    min-width: 80%;
    margin: 0 10px;
    opacity: 0.5;
    border-radius: 12px;
    object-fit: cover;
    transition: all 0.5s ease;

}

.slider img {
    width: 80%;
    height: auto;
    display: block;
}

.slide.active {
    opacity: 1;
    transform: scale(1.1);

}

.nav {
    position: absolute;
    top: 50%;
    background-color: #00000080;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2;


}

.nav.prev {
    left: 15px;
}

.nav.next {
    right: 15px;
}


@media (max-width: 768px) {
    .slider {
        height: 70vw;
        border-radius: 8px;
    }
}

@media (max-width:480px) {
    .slider {
        height: 80vw;
    }
}

main{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer {
    display: flex;
    justify-content: end;
    align-items: end;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0, 5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;

}

.about-section {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 20px;
}

.about-section h2 {
    color: #ff4d4d;
    margin-bottom: 20px;
}

.about-section h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: red;

}

.about-section ul {
    padding-left: 20px;
}

.profile {
    width: 400px;
    margin: 40px auto;
}

.profile input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

.profile button {
    margin-top: 10px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}

.about-text {
    flex: 1;
    min-width: 300px;
}

.about-text h2 {
    color: #ff4d4d;
    font-size: 50px;
    margin-bottom: 20px;
}

.about-text h3 {
    color: #ff4d4d;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 10px;
}

.about-text p {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #333;
}

.about-text ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: ;
    line-height: 25px;
    color: black;
}

.about-image {
    flex: 1;
    min-width: 300px;

}

.about-image img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0, 2);
    display: block;
}

.login-box h2{
    margin-bottom: 20px;
    font-size: 24px;
    color: #8b0000;
}

.login-box{
    width: 350px;
    height:  300px;
    min-height: 420px;
    padding: 40px 35px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-box input{
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 6px;
    border: 1px solid ;
    font-size: 16px;
}

.login-box button{
    width: 100%;
    height: 50px;
    padding: 14px;
    margin-top: 25px;
    background-color: #8b0000;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover{
    background-color: #a30000;
}

.foto{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
}