* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color:  brown;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.profile header nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.profile header nav a {
    color: white;
    font-weight: bold;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 550px;
    margin: 50px auto;
    overflow: hidden;
}

.slides {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {
    width: 100%;
    height: 100%;
    min-width: 80%;
    margin: 0 10px;
    opacity: 0.5;
    border-radius: 12px;
    object-fit: cover;
    transition: all 0.5s ease;
    ;

}

.slider img {
    width: 80%;
    height: auto;
    display: block;
}

.slide.active {
    opacity: 1;
    transform: scale(1.1);

    z-index: 1;
}

.nav {
    position: absolute;
    top: 50%;
    background-color: #00000080;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2;


}

.nav.prev {
    left: 15px;
}

.nav.next {
    right: 15px;
}


@media (max-width: 768px) {
    .slider {
        height: 70vw;
        border-radius: 8px;
    }
}

@media (max-width:480px) {
    .slider {
        height: 80vw;
    }
}

main {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer {
    display: flex;
    justify-content: end;
    align-items: end;
}


.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0, 5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;

}

.about-section {
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
}

.about-section h2 {
    color:  brown;
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-section h3 {
    color:  brown;
    margin-top: 30px;
    font-size: 1.8em;
    margin-bottom: 10px;

}

.about-section ul {
    list-style: disc inside;
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .about-section {
        padding: 0 15px;
    }

    .about-section h2 {
        font-size: 2.2em;
    }

    .about-section h3 {
        font-size: 1.5em;
    }

    .about-section p,
    .about-section ul {
        font-size: 1em;
    }
}

.profile {
    width: 400px;
    margin: 40px auto;
}

.profile input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

.profile button {
    margin-top: 10px;
    color:  brown;
}

.about-section{
    background-color: #a35d4c;
    border-radius: 40px;

}

.about-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.about-section img.about-img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 10px auto;
    border-radius: 12px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: flex-start;
    
}

.about-text {
    flex: 1;
    min-width: 900px;
    text-align: left;
    line-height: 60px;
   
}

.about-text h2 {
    color:  brown;
    font-size: 50px;
    margin-bottom: 20px;
}

.about-text h3 {
    color:  brown;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-text p {
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    font-style: oblique;
    font-weight: 300;
    
}

.about-text ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 20px;
    line-height: 40px;
    font-style: oblique;
    color: black;
}

.about-image {
    flex: 1;
    min-width: 00px;

}

.about-image img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0, 2);
    display: block;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color:  brown;
}

.login-box {
    width: 350px;
    height: 300px;
    min-height: 420px;
    padding: 40px 35px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: 100px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 6px;
    border: 1px solid;
    font-size: 16px;
}

.login-box button {
    width: 100%;
    height: 50px;
    padding: 14px;
    margin-top: 25px;
    background-color: #8b0000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.login-box button:hover {
    background-color: #a30000;
}

.foto {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
}

.contact-section {
    max-width: 700px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-section h2 {
    color:  brown;
    font-size: 2.4em;
    margin-bottom: 10px;
    text-align: center;
}

.contact-section p {
    margin-bottom: 40px;
    font-size: 1.1em;
    color: #555;
    line-height: 2.6;
    text-align: center;
}

#contactFrom {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: left;
}

#conctactForm label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    font-size: 1.05em;
    text-align: left;
}

#contactForm input,
#contactForm textarea {
    padding: 14px 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    transition: border 0.3s ease;
    text-align: left;

}

#contactForm input:focus,
#contactForm textarea:focus {
    border: 2px solid  brown;
    outline: none;
    box-shadow: 0 0 5px rgba(165, 42, 42, 0.4);
    text-align: left;

}

#contactForm button {
    background-color:  brown;
    color: white;
    border: none;
    padding: 16px;
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    align-self: center;

}

#contactForm button:hover {
    background-color: #ff1a1a;
    transform: translateY(-2px);

}

@media (max-width: 768px) {
    .contact-section {
        padding: 0 15px;
    }
}
.books-layout {
    display: flex;
    gap: 30px;
    padding: 30px;
align-items: flex-start;
}

.sidebar {
    width: 220px;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    top: 30px;
   
}

.sidebar h3 {
    margin-bottom: 15px;
    color:  brown;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.sidebar ul li:hover {
    background:  brown;
    color: white;
}

.books-content {
    flex: 1;
}

.books-hero {
    background: linear-gradient(to right, brown, #ff80008e);
    color: white;
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.search-bar {
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    border-radius: 8px;
    border: 1px solid #ccc;

}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.book-card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}



.book-card span {
    display: block;
    margin: 10px 0;
    font-weight: bold;

}

.book-card button {
    background:  brown;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.contact-section #contactFrom label {
    display: block;
    text-align: left;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 1.05em;
}
.contact-page #contactForm input:focus
.contact-page #contactForm textarea:focus {
    border: 2px solid brown;
    outline: none;
    box-shadow: 0 0 Spx rbga(165, 42, 42, 0.4);
 }

 .contact-page #contactForm button {
    width: 200px;
    align-self: center;
    background-color: brown;
    color: white;
    border: none;
    padding: 16px;
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
 }

 .contact-page #contactForm button:hover {
    background-color: #ff1a1a;
    transform: translateY(-2px);
 }
 .contact-page #contactForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    text-align: left;
 }
 .contact-page #contactForm input,
 .contact-page #contactForm textarea {
    margin-bottom: 20px;
 }