* {
    margin :0;
    padding :0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ff4d4d;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;

}

.slides img {
    width: 100%;
    display: none;
}

.slides img.active {
    display: block;

}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2em;

}