* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ff4d4d;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 550px;
    margin: 50px auto;
    overflow: hidden;
}

.slides {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {

    width: 100%;
    height: 100%;
    min-width: 80%;
    margin: 0 10px;
    opacity: 0.5;
    border-radius: 12px;
    object-fit: cover;
    transition: all 0.5s ease;;

}

.slide.active {
    opacity: 1;
    transform: scale(1.1);
    
    z-index: 1;
}

.nav {
    position: absolute;
    top: 50%;
    background-color: #00000080;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index : 2;


}

.nav.prev {
    left: 15px;
}

.nav.next {
    right: 15px;
}


@media (max-width: 768px) {
    .slider {
        height: 70vw;
        border-radius: 8px;
    }
}

@media (max-width:480px) {
    .slider {
        height: 80vw;
    }
}



.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0, 5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2em;

}
.about-section {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 20px;
}
.about-section h2{
    color: #ff4d4d;
    margin-bottom: 20px;
}
.about-section h3{
    margin-top: 30px;
    margin-bottom: 10px;
    color: ff8000;
}
.about-section ul{
    list-style-type: disc;
    padding-left: 20px;
}
.about-section img.about-img{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 30px auto;
    border-radius: 12px;
}