* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ff4d4d;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 550px;
    margin: 50px;
    overflow: hidden;
}

.slides {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {

    width: 100%;
    height: 500px;
    min-width: 80%;
    margin: 0 10px;
    opacity: 0.5;
    border-radius: 12px;
    object-fit: cover;
    transition: all 0.5s ease;

}

.slider img {
    width: 100%;
    height: 100%;
    display: block;
}

.slide.active {
    opacity: 1;
    transform: scale(1.1);

}

.nav {
    position: absolute;
    top: 50%;
    background-color: #00000080;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 2;


}

.nav.prev {
    left: 15px;
}

.nav.next {
    right: 15px;
}


@media (max-width: 768px) {
    .slider {
        height: 70vw;
        border-radius: 8px;
    }
}

@media (max-width:480px) {
    .slider {
        height: 80vw;
    }
}

main{
    margin-top: 15px;
    flex-wrap: 1;
}


.footer.p {
    display: flex;
    justify-content: end;
    align-items: end;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0, 5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2em;

}

.about-section {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 20px;
}

.about-section h2 {
    color: #ff4d4d;
    margin-bottom: 20px;
}

.about-section h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: ff8000;
    color: #ff8000;

}

.about-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.about-section img.about-img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 30px auto;
    border-radius: 12px;
}


.profile {
    width: 400px;
    margin: 40px auto;
}

.profile input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

.profile button {
    margin-top: 10px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}

.about-text {
    flex: 1;
    min-width: 300px;
}

.about-text h2 {
    color: #ff4d4d;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-text h3 {
    color: #ff8000;
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}

.about-text ul {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1em;
    color: #555;
}

.about-image {
    flex: 1;
    min-width: 300px;

}

.about-image img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0, 2);
    display: block;
}