* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ff4d4d;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.slider-container{
    position: relative;
    width: 80%;
    max-width: 100px;
    height: 40vw;
    margin: 50px auto;
    overflow: hidden;
}

.slides{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide{
    min-width: 60%;
    margin: 0 10px;
    opacity: 0.5;
    border-radius: 12px;
    object-fit: cover;

}

.slide.active{
    opacity: 1;
    transform: scale(1);
}


@media (max-width: 768px) {
    .slider {
        height: 50vw;
        border-radius: 8px;
    }
}

@media (max-width:480px) {
    .slider {
        height: 60vw;
    }
}



.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2em;

}