* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ff4d4d;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 550px;
    margin: 50px auto;
    overflow: hidden;
}

.slides {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide {

    width: 100%;
    height: 100%;
    min-width: 80%;
    margin: 0 10px;
    opacity: 0.5;
    border-radius: 12px;
    object-fit: cover;
    transition: all 0.5s ease;;

}

.slide.active {
    opacity: 1;
    transform: scale(1.1);
    
    z-index: 1;
}

.nav {
    position: absolute;
    top: 50%;
    background-color: #00000080;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index : 2;


}

.nav.prev {
    left: 15px;
}

.nav.next {
    right: 15px;
}


@media (max-width: 768px) {
    .slider {
        height: 70vw;
        border-radius: 8px;
    }
}

@media (max-width:480px) {
    .slider {
        height: 80vw;
    }
}



.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0, 5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 2em;

}
.about-section {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 20px;
}
.about-section h2{
    color: #ff4d4d;
    margin-bottom: 20px;
}
.about-section h3{
    margin-top: 30px;
    margin-bottom: 10px;
    color: #ff8000;
}
.about-section ul{
    list-style-type: disc;
    padding-left: 20px;
}
.about-section img.about-img{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 30px auto;
    border-radius: 12px;
}
.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}
.about-text{
    flex: 1;
    min-width: 300px;
}
.about-text h2{
    color: #ff4d4d;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.about-text h3{
    color: #ff8000;
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
}
.about-text p{
    font-size: 1.1em;
    line-height: 1.6;
    color: #333;
}
.about-text ul{
    list-style-type: disc;
    padding-left: 20px;
    font-size: 1em;
    color: #555;
}
.about-image{
    flex: 1;
    min-width: 300px;

}
.about-image img{
    width: 100%;
    border-radius: 15px;
    box-shadow:0 8px 20px rgba(0,0,0,0,2);
    display: block;
}
.contact-section{
    max-width: 700px;
    margin: 50px auto;
    padding: 0 20px;
    text-align: center;
}
.contact-section h2 {
    color: #ff4d4d;
    font-size: 2.2em;
    margin-bottom: 15px;
}
.contact-section p {
    margin-bottom: 30px;
    font-size: 1.1em;
    color: #333;
}
#contactFrom{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}
#conctactForm label {
    font-weight: bold;
}
#contactForm input,
#contactForm textarea{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    transition: border 0.3s ease;

}
#contactForm input:focus,
#contactForm textarea:focus {
    border: 2px solid #ff4d4d;
    outline: none;

}
#contactForm button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 14px;
    font-size: 1.1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
#contactForm button:hover{
    background-color: #ff1a1a;

}

@media (max-width: 768px) {
    .contact-section {
        padding: 0 15px;
    }
}
.books-layout{
    display: flex;
    gap: 30px;
    padding: 30px;
}
.sidebar{
    width: 220px;
    background: #f5f5f5;
    padding :20px;
    border-radius:10px ;
}
.sidebar h3{
    margin-bottom: 15px;
    color: #ff4d4d;
}
.sidebar ul{
    list-style: none;
    padding: 0;
}
.sidebar ul li{
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
}
.sidebar ul li:hover{
    background: #ff4d4d;
    color: white;
}
.books-content{
    flex: 1;
}
.books-hero{
    background: linear-gradient(to right,#ff4d4d, #ff8000);
    color: white;
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.search-bar{
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    border-radius: 8px;
    border: 1px solid #ccc;

}
.books-grid{
    display: grid;
    grid-template-columns : repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}
.book-card{
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}
.book-card omg{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}
.book-card span{
    display: block;
    margin: 10px 0;
    font-weight: bold;

}
.book-card button{
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}